CP2_IOT/CP2flow.json
[
  {
    "id": "tab_estufa",
    "type": "tab",
    "label": "Estufa Inteligente",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "HiveMQ Público",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered_estufa_fiap",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "oracle_server_cfg",
    "type": "oracle-server",
    "name": "Oracle FIAP",
    "host": "oracle.fiap.com.br",
    "port": "1521",
    "db": "orcl",
    "user": "rm556649",
    "password": "280306"
  },
  {
    "id": "ui_tab_dash",
    "type": "ui_tab",
    "name": "Estufa Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_sensores",
    "type": "ui_group",
    "name": "Sensores da Estufa",
    "tab": "ui_tab_dash",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_clima",
    "type": "ui_group",
    "name": "Clima Externo",
    "tab": "ui_tab_dash",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_alertas",
    "type": "ui_group",
    "name": "Alertas",
    "tab": "ui_tab_dash",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "mqtt_in_temp",
    "type": "mqtt in",
    "z": "tab_estufa",
    "name": "Recebe Temperatura",
    "topic": "estufa1/temperatura",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "x": 140,
    "y": 80,
    "wires": [["parse_temp"]]
  },
  {
    "id": "parse_temp",
    "type": "function",
    "z": "tab_estufa",
    "name": "Processa Temperatura",
    "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 80,
    "wires": [["gauge_temp", "chart_temp", "fn_sql_temp"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_estufa",
    "name": "Gauge Temperatura",
    "group": "ui_group_sensores",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 60,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": 30,
    "seg2": 40,
    "x": 620,
    "y": 40,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "tab_estufa",
    "name": "Gráfico Temperatura",
    "group": "ui_group_sensores",
    "order": 3,
    "width": 12,
    "height": 4,
    "label": "Histórico Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dots": false,
    "ymin": 0,
    "ymax": 60,
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#ff6b6b"],
    "x": 620,
    "y": 80,
    "wires": []
  },
  {
    "id": "fn_sql_temp",
    "type": "function",
    "z": "tab_estufa",
    "name": "Monta SQL Temp",
    "func": "var v = parseFloat(msg.payload);\nmsg.query = \"INSERT INTO leituras (sensor, valor, unidade) VALUES ('temperatura', \" + v + \", 'C')\";\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 120,
    "wires": [["oracledb_temp"]]
  },
  {
    "id": "oracledb_temp",
    "type": "oracledb",
    "z": "tab_estufa",
    "name": "Salva Temp Oracle",
    "server": "oracle_server_cfg",
    "x": 840,
    "y": 120,
    "wires": [[]]
  },

  {
    "id": "mqtt_in_hum",
    "type": "mqtt in",
    "z": "tab_estufa",
    "name": "Recebe Umidade",
    "topic": "estufa1/umidade",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "x": 140,
    "y": 220,
    "wires": [["parse_hum"]]
  },
  {
    "id": "parse_hum",
    "type": "function",
    "z": "tab_estufa",
    "name": "Processa Umidade",
    "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 220,
    "wires": [["gauge_hum", "chart_hum", "fn_sql_hum"]]
  },
  {
    "id": "gauge_hum",
    "type": "ui_gauge",
    "z": "tab_estufa",
    "name": "Gauge Umidade",
    "group": "ui_group_sensores",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Umidade (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": 40,
    "seg2": 70,
    "x": 620,
    "y": 180,
    "wires": []
  },
  {
    "id": "chart_hum",
    "type": "ui_chart",
    "z": "tab_estufa",
    "name": "Gráfico Umidade",
    "group": "ui_group_sensores",
    "order": 4,
    "width": 12,
    "height": 4,
    "label": "Histórico Umidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dots": false,
    "ymin": 0,
    "ymax": 100,
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#4ecdc4"],
    "x": 620,
    "y": 220,
    "wires": []
  },
  {
    "id": "fn_sql_hum",
    "type": "function",
    "z": "tab_estufa",
    "name": "Monta SQL Umidade",
    "func": "var v = parseFloat(msg.payload);\nmsg.query = \"INSERT INTO leituras (sensor, valor, unidade) VALUES ('umidade', \" + v + \", '%')\";\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 260,
    "wires": [["oracledb_hum"]]
  },
  {
    "id": "oracledb_hum",
    "type": "oracledb",
    "z": "tab_estufa",
    "name": "Salva Umidade Oracle",
    "server": "oracle_server_cfg",
    "x": 840,
    "y": 260,
    "wires": [[]]
  },

  {
    "id": "mqtt_in_alerta",
    "type": "mqtt in",
    "z": "tab_estufa",
    "name": "Recebe Alertas",
    "topic": "estufa1/alerta",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_cfg",
    "x": 140,
    "y": 380,
    "wires": [["text_alerta", "fn_sql_alerta"]]
  },
  {
    "id": "text_alerta",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "ui_group_alertas",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Painel de Alertas",
    "label": "⚠ Último Alerta:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 380,
    "y": 360,
    "wires": []
  },
  {
    "id": "fn_sql_alerta",
    "type": "function",
    "z": "tab_estufa",
    "name": "Monta SQL Alerta",
    "func": "var m = msg.payload.replace(/'/g, '');\nmsg.query = \"INSERT INTO alertas (mensagem) VALUES ('\" + m + \"')\";\nreturn msg;",
    "outputs": 1,
    "x": 380,
    "y": 400,
    "wires": [["oracledb_alerta"]]
  },
  {
    "id": "oracledb_alerta",
    "type": "oracledb",
    "z": "tab_estufa",
    "name": "Salva Alerta Oracle",
    "server": "oracle_server_cfg",
    "x": 620,
    "y": 400,
    "wires": [[]]
  },

  {
    "id": "inject_clima",
    "type": "inject",
    "z": "tab_estufa",
    "name": "A cada 10 min",
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 2,
    "topic": "",
    "payload": "",
    "x": 140,
    "y": 520,
    "wires": [["http_openweather"]]
  },
  {
    "id": "http_openweather",
    "type": "http request",
    "z": "tab_estufa",
    "name": "OpenWeather API",
    "method": "GET",
    "ret": "obj",
    "url": "https://api.openweathermap.org/data/2.5/weather?q=Sao Paulo,BR&appid=SUA_API_KEY_AQUI&units=metric&lang=pt_br",
    "x": 360,
    "y": 520,
    "wires": [["parse_clima"]]
  },
  {
    "id": "parse_clima",
    "type": "function",
    "z": "tab_estufa",
    "name": "Extrai dados clima",
    "func": "var d = msg.payload;\nmsg.cidade    = d.name;\nmsg.temp_ext  = d.main.temp;\nmsg.hum_ext   = d.main.humidity;\nmsg.descricao = d.weather[0].description;\nmsg.sensacao  = d.main.feels_like;\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 520,
    "wires": [["ch_cidade","ch_temp_ext","ch_hum_ext","ch_descricao","ch_sensacao"]]
  },
  {
    "id": "ch_cidade",
    "type": "change",
    "z": "tab_estufa",
    "name": "",
    "rules": [{"t":"set","p":"payload","pt":"msg","to":"cidade","tot":"msg"}],
    "x": 790,
    "y": 460,
    "wires": [["text_cidade"]]
  },
  {
    "id": "ch_temp_ext",
    "type": "change",
    "z": "tab_estufa",
    "name": "",
    "rules": [{"t":"set","p":"payload","pt":"msg","to":"temp_ext","tot":"msg"}],
    "x": 790,
    "y": 500,
    "wires": [["text_temp_ext"]]
  },
  {
    "id": "ch_hum_ext",
    "type": "change",
    "z": "tab_estufa",
    "name": "",
    "rules": [{"t":"set","p":"payload","pt":"msg","to":"hum_ext","tot":"msg"}],
    "x": 790,
    "y": 540,
    "wires": [["text_hum_ext"]]
  },
  {
    "id": "ch_descricao",
    "type": "change",
    "z": "tab_estufa",
    "name": "",
    "rules": [{"t":"set","p":"payload","pt":"msg","to":"descricao","tot":"msg"}],
    "x": 790,
    "y": 580,
    "wires": [["text_descricao"]]
  },
  {
    "id": "ch_sensacao",
    "type": "change",
    "z": "tab_estufa",
    "name": "",
    "rules": [{"t":"set","p":"payload","pt":"msg","to":"sensacao","tot":"msg"}],
    "x": 790,
    "y": 620,
    "wires": [["text_sensacao"]]
  },
  {
    "id": "text_cidade",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "ui_group_clima",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Cidade",
    "label": "🌍 Cidade:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 980,
    "y": 460,
    "wires": []
  },
  {
    "id": "text_temp_ext",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "ui_group_clima",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Temp Externa",
    "label": "🌡 Temp. Externa:",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "x": 980,
    "y": 500,
    "wires": []
  },
  {
    "id": "text_hum_ext",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "ui_group_clima",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Umidade Externa",
    "label": "💧 Umidade Externa:",
    "format": "{{msg.payload}} %",
    "layout": "row-spread",
    "x": 980,
    "y": 540,
    "wires": []
  },
  {
    "id": "text_descricao",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "ui_group_clima",
    "order": 4,
    "width": 4,
    "height": 1,
    "name": "Descrição",
    "label": "☁ Clima:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 980,
    "y": 580,
    "wires": []
  },
  {
    "id": "text_sensacao",
    "type": "ui_text",
    "z": "tab_estufa",
    "group": "ui_group_clima",
    "order": 5,
    "width": 4,
    "height": 1,
    "name": "Sensação Térmica",
    "label": "🤔 Sensação:",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "x": 980,
    "y": 620,
    "wires": []
  }
]
